  .button{
     
    background-color: #ff8615;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2px 100px;
    padding: 8px 10px;
    width: 180px;
    height: 25px;
    text-align: center;
    font-size: 17px;
    color:rgb(27, 15, 15)
}
.button:hover{
  background-color: #97131e;
  font-color: white;
  text-decoration: italic;
  
}
.home{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  align-content: center;
}

.pic {
    position: relative;
    text-align: center;
    color: rgb(28, 8, 48);
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
  }
  
 .web {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    text-indent: 90px;
    font-family: 'Nunito', sans-serif;
    font-size: 68px;
    margin:10px 5px;
    padding: 30px 30px;
    text-align: center;
    text-shadow: 2px 3px 5px #f0e586;
    color:rgb(22, 4, 88);
  }
   
.web1 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    height: 30%;
    margin: 20px 80px;
    background-color: #ffd666;
}    
.p1 {
  padding: 5px 40px;
  margin: 5px 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align:justify;
}
h1{
  padding: 0px 50px;
  margin: 5px;
}
h2{
  padding: 0px 0px;
  margin: 2px 20px; 
}


/*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }*/
  


/*@keyframes .pic {
       100% {img src="computer.jpg" alt="computer";}
        100% {img src="computer.jpg" alt="computer2";}
        100% {img src="computer.jpg" alt="computer3";}
         
     }
 div {
         width:25px;
         height: 100px;
         background-color: red;
         animation-name: example;
         animation-duration: 8s;
         animation-delay: 2s;
         animation-iteration-count:infinite;
    }

       




